.section-header {
  // Section number
  .section-number-container {
    position: relative;
    .section-number-circle {
      position: absolute;
      top: -18px;
      left: -66px;
      width: 170px;
      height: auto;
    }
    .section-number {
      font-size: 12rem;
      line-height: 1;
      font-weight: 800;
      color: $cyan;
    }
    @media (max-width: $lg) {
      .section-number-circle {
        top: 0px;
        left: -55px;
        width: 110px;
      }
      .section-number {
        font-size: 8rem;
      }
    }
    @media (max-width: $sm) {
      .section-number-circle {
        top: -5px;
        left: -37px;
        width: 70px;
      }
      .section-number {
        font-size: 4rem;
      }
    }
  }

  // intro
  .section-intro {
    padding-left: calc($gutter/2);
  }
}