.section-sources {
  margin-top: 50px;
  font-size: 1.6rem;
  li {
    margin: 5px 0;
    padding-left: 22px;
    background-image: url("../../../public/assets/asterisk.svg");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: auto 12px;
  }
}

.section-explore {
  .section-sources {
    li {
      background-image: url("../../../public/assets/asterisk-purple.svg");
    }
  }
}