@keyframes bounce {
  0%, 88%, 94%, 100% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-12px);
  }
  96% {
    transform: translateY(-6px);
  }
}

@keyframes colorBallMoveX {
  0%  {
    background-position: 0% 0;
    transform: translate(-15px, -50%);
  }
  15%  , 25% {
    background-position: 0% 0;
    transform: translate(0px, -50%);
  }
  75% , 85% {
    background-position: 100% 0;
    transform: translate(50px, -50%);
  }
  100% {
    background-position: 100% 0;
    transform: translate(65px, -50%);
  }
}