footer {
  margin: 50px 0 30px;
  font-size: 1.6rem;
  .credits {
    padding: 10px 0 10px 38px;
    background-image: url("../../../public/assets/logo.svg");
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: 0 6px;
  }
}