header {
  position: relative;
  height: 100vh;
  background-color: $cyan;
  background: linear-gradient(120deg, rgba(5,151,153,1) 0%, rgba(128,200,189,0.6) 100%);

  // Logo
  .WGS-logo {
    display: flex;
    justify-content: flex-end;
    img {
      margin-top: 20px;
      width: auto;
      height: 50px;
      @media (max-width: $sm) {
        height: 35px;
      }
    }
  }

  // Title & subtitle
  h1 {
    margin-top: 20%;
  }
  .intro {
    margin: 0;
    font-size: 3.6rem;
    color: $white;
    @media (max-width: $md) {
      font-size: 2.8rem;
    }
    @media (max-width: $sm) {
      font-size: 2rem;
    }
  }
  h1,
  .intro {
    opacity: 0;
    text-shadow: 0px 4px 15px rgba($text, 0.25);
  }

  // Scroll indicator
  .scroll {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    text-align: center;
    .scroll-label {
      margin-bottom: 12px;
      font-size: 1.8rem;
      color: $white;
    }
  }
  #scroll-arrow-down {
    width: auto;
    height: 34px;
    animation: bounce 6s infinite;
  }
}

.intro-color-scale {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;
  text-shadow: 0px 4px 20px rgba($text, 0.2);
  .label-hpi {
    width: 100px;
    margin-bottom: 10px;
    text-align: right;
    line-height: 1.2;
  }
  .scale-container {
    display: flex;
    justify-content: flex-end;
    .labels {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 300px;
      margin-right: 3px;
    }
    .color-scale {
      width: 15px;
      height: 300px;
      background: $cyan;
      background: linear-gradient(180deg, rgba($cyan,1) 0%, rgba($purple,1) 100%);
      border-radius: 10px;
      box-shadow: 0px 4px 20px rgba($text, 0.2);
      opacity: 0.75;
    }
  }
  @media (max-width: $sm) {
    display: none;
  }
}

.country-path-Antarctica {
  fill-opacity: 0;
  stroke-opacity: 0;
}