header {
  position: relative;
  height: 100vh;
  background-color: $cyan;
  background: linear-gradient(120deg, rgba(5,151,153,1) 0%, rgba(128,200,189,0.6) 100%);

  // Title & subtitle
  h1 {
    margin-top: 30%;
  }
  .intro {
    margin: 0;
    font-size: 3.6rem;
    color: $white;
  }
  h1,
  .intro {
    text-shadow: 0px 4px 15px rgba($text, 0.25);
  }

  // Scroll indicator
  .scroll {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    text-align: center;
    .scroll-label {
      margin-bottom: 12px;
      font-size: 1.8rem;
      color: $white;
    }
  }
  #scroll-arrow-down {
    width: auto;
    height: 34px;
    animation: bounce 6s infinite;
  }
}