.quality-life-country-label {
  margin-top: -30px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
}

.sticky-container {
  display: flex;
  height: 100%;
  .sticky {
    position: sticky;
    bottom: 2rem;
    align-self: flex-end;
  }
}
