.timeline {
  max-width: 300px;
  margin: 50px auto 25px;
}

.dots {
  display: flex;
  justify-content: center;
}
#dots-school {
  max-width: 200px;
  margin-top: -70px;
}
#dots-mp {
  max-width: 440px;
}

@media (max-width: $md) {
  #timeline-mp {
    margin-top: -100px;
  }
}